﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

.input-validation-error {
    border: red 1px solid;
}

.mt-25 {
    margin-top: 25px;   
}

.signature-pad > canvas {
    margin-bottom: 5px;
}

.input-lg {
    height: 150px;
    padding: 10px 16px;
    font-size: 75px;
    line-height: 1.3333333;
/*    border-radius: 6px;*/
    font-family: 'Brush Script MT';
}