﻿@using AgreementSign.Models
@model AgreementSignViewModel

@using (Html.BeginForm("Sign", "Agreement", null, FormMethod.Post, new { id = "sign-form"}))
{
    <div class="form-group mt-25">
        @Html.HiddenFor(x => x.Text)
        @Html.Raw(Model.Text)
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.FullName, new { @class = "control-label" })
        @Html.TextBoxFor(x => x.FullName, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.FullName, null, new { @class = "text-danger" })
    </div>
    <div class="form-group">
        <label class="radio-inline">@Html.RadioButtonFor(x => x.SignType, SignType.ManualSign) Sign Here Using Mouse or Finger/Stylus</label>
        <label class="radio-inline">@Html.RadioButtonFor(x => x.SignType, SignType.GeneratedSign) Use Keyboard</label>        
    </div>
    @Html.EditorFor(x => x.Signature)
    <div class="form-group">
        @Html.TextBoxFor(x => x.UseKeyboardInput, new { @class = "form-control input-lg"})
        @Html.ValidationMessageFor(x => x.UseKeyboardInput, null, new { @class = "text-danger" })
    </div>
    <div class="form-group text-center">
        <button type="submit" class="btn btn-lg btn-success">Submit</button>
    </div>
}
