﻿@using AgreementSign.Helpers
@using AgreementSign.Models
@model AgreementViewModel

@{
    ViewBag.Title = "Agreement Sign Page";
}

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Sign Agreement <a data-toggle="modal" href="#editModal" class="pull-right"><i class="fa fa-edit"></i></a></h3>
            </div>
            <div class="panel-body">
                @Html.Partial("_SignForm", new AgreementSignViewModel { Text = Model.Text })
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editTitle">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="editTitle">Edit Agreement</h4>
            </div>
            <div class="modal-body">
                @Html.Partial("_EditForm", new AgreementEditViewModel { Text = Model.Text })
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button id="edit" type="button" class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script type="text/javascript">
        $(function() {

            $(document).ready(function() {
                var checked = $('#sign-form input[name="SignType"]:radio:checked');
                if (checked.val() === '@SignType.ManualSign.ToString()') {
                    $('#sign-form .signature-pad ').show();
                    $('#sign-form input[name="UseKeyboardInput"]').hide();
                } else {
                    $('#sign-form .signature-pad').hide();
                    $('#sign-form input[name="UseKeyboardInput"]').show();
                }

                var sp = getSignaturePad('#sign-form .signature-pad');
                if (sp.isEmpty()) {
                    $('#sign-form button[type="submit"]').prop('disabled', true);
                } else {
                    $('#sign-form button[type="submit"]').prop('disabled', false);
                }
            });

            $('#edit').click(function(e) {
                e.preventDefault();
                $('#editModal form').trigger('submit');
            });

            $('#editor').trumbowyg();

            $('#sign-form input[name="SignType"]:radio').change(function() {
                var checked = $('#sign-form input[name="SignType"]:radio:checked');
                if (checked.val() === '@SignType.ManualSign.ToString()') {
                    $('#sign-form .signature-pad').show();
                    $('#sign-form input[name="UseKeyboardInput"]').hide();
                    var sp = getSignaturePad('#sign-form .signature-pad');
                    if (sp.isEmpty()) {
                        $('#sign-form button[type="submit"]').prop('disabled', true);
                    } else {
                        $('#sign-form button[type="submit"]').prop('disabled', false);
                    }
                } else {
                    $('#sign-form .signature-pad').hide();
                    $('#sign-form input[name="UseKeyboardInput"]').show();
                    if (!$('#sign-form input[name="UseKeyboardInput"]').val()) {
                        $('#sign-form button[type="submit"]').prop('disabled', true);
                    } else {
                        $('#sign-form button[type="submit"]').prop('disabled', false);
                    }
                }
            });

            $('#sign-form input[name="UseKeyboardInput"]').on('input', function() {
                if (!$(this).val()) {
                    $('#sign-form button[type="submit"]').prop('disabled', true);
                } else {
                    $('#sign-form button[type="submit"]').prop('disabled', false);
                }
            });

            $('#sign-form .signature-pad .btn-clear-canvas').on('click', function() {
                $('#sign-form button[type="submit"]').prop('disabled', true);
            });

            $('#sign-form .signature-pad input[type="hidden"]').on('change', function () {
                var sp = getSignaturePad('#sign-form .signature-pad');
                if (sp.isEmpty()) {
                    $('#sign-form button[type="submit"]').prop('disabled', true);
                } else {
                    $('#sign-form button[type="submit"]').prop('disabled', false);
                }
            });
        });

    </script>
    <script src="~/Scripts/signature_pad.min.js"></script>
    <script src="~/Scripts/SignaturePadInit.js"></script>
}