﻿@model byte[]

<div class="signature-pad" signature-pad-id="@Guid.NewGuid()">
    <canvas class="panel panel-default"></canvas>
    <button type="button" class="btn btn-default btn-sm btn-clear-canvas">Clear</button>
    @Html.HiddenFor(model => model, ViewData["htmlAttributes"])
</div>
